In [76]:
import pandas as pd

# Importing the data

In [77]:
dataframe = pd.read_csv("iris.csv")
dataframe.head(10)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

# Understanding the dataset

In [78]:
dataframe.shape

(150, 5)

In [79]:
dataframe.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [80]:
dataframe.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    149.000000   149.000000    150.000000   148.000000
mean       5.843624     3.051007      3.758667     1.210135
std        0.830851     0.433499      1.764420     0.761643
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [81]:
# finding the missing values 

dataframe.isnull().sum()

sepal_length    1
sepal_width     1
petal_length    0
petal_width     2
species         2
dtype: int64

In [82]:
# find duplicate rows
# dataframe.duplicated().sum()


dataframe[dataframe.duplicated(keep=False)]

     sepal_length  sepal_width  petal_length  petal_width    species
9             4.9          3.1           1.5          0.1     setosa
34            4.9          3.1           1.5          0.1     setosa
37            4.9          3.1           1.5          0.1     setosa
101           5.8          2.7           5.1          1.9  virginica
142           5.8          2.7           5.1          1.9  virginica

# FACED TROUBLE HERE!!!!!!

In [83]:
# handle the null values with the mean of the column

# Convert all columns that can be to numeric, coercing errors
dataframe = dataframe.apply(pd.to_numeric, errors='coerce')

# Handle the null values with the mean of the column
dataframe.fillna(dataframe.mean(numeric_only=True), inplace=True)

# dataframe.fillna(dataframe.mean(), inplace=True)

In [97]:
dataframe.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [85]:
# drop the rows where the target is null
dataframe.dropna(subset=['species'], inplace=True)

In [86]:
dataframe.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [87]:
# handling the dupliaction

dataframe.drop_duplicates(inplace=True)
dataframe

Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, species]
Index: []

In [88]:
# create input and output data
features = dataframe.drop('species', axis=1)
target = dataframe['species']

In [89]:
features

Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width]
Index: []

In [90]:
target

Series([], Name: species, dtype: float64)

In [91]:
map_target = {'setosa': 0, 'versicolor': 1, 'virginica': 2}
target = [map_target[i] for i in target]

In [92]:
target

[]

In [93]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
target = dataframe['species']
target = encoder.fit_transform(target)
target

array([], dtype=int64)

# Scaling

Faced Trouble here

In [94]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
features_minmax = scaler.fit_transform(features)

features_minmax

ValueError: Found array with 0 sample(s) (shape=(0, 4)) while a minimum of 1 is required by MinMaxScaler.

In [ ]:
# scale the input data
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
features_std = scaler.fit_transform(features)

# Correlation Analysis

In [ ]:
features_df = pd.DataFrame(features_minmax, columns=features.columns) # scaled feature dataframe
target_df = pd.DataFrame(target, columns=['species'])

In [ ]:
# correlation analysis of features with target
target_series = target_df['species']
correlations = features_df.corrwith(target_series)
correlations

# 1d scatter plot

In [ ]:
import matplotlib.pyplot as plt
import numpy as np 

# Separate the data based on numeric labels
class_0 = features_df.loc[target_df["species"] == 0]
class_1 = features_df.loc[target_df["species"] == 1]
class_2 = features_df.loc[target_df["species"] == 2]

# Create a 1D scatter plot for sepal_width with numeric labels
plt.plot(class_0["sepal_width"], np.zeros_like(class_0['sepal_width']), 'o', label='Class 0')
plt.plot(class_1["sepal_width"], np.zeros_like(class_1['sepal_width']), 'o', label='Class 1')
plt.plot(class_2["sepal_width"], np.zeros_like(class_2['sepal_width']), 'o', label='Class 2')

plt.legend()
plt.xlabel('sepal_width')
plt.title('1D Scatter Plot of sepal_width by Numeric Classes')
plt.show()

In [ ]:


# Separate the data based on numeric labels
class_0 = features_df.loc[target_df["species"] == 0]
class_1 = features_df.loc[target_df["species"] == 1]
class_2 = features_df.loc[target_df["species"] == 2]

# Create a 1D scatter plot for petal_width with numeric labels
plt.plot(class_0["petal_width"], np.zeros_like(class_0['petal_width']), 'o', label='Class 0')
plt.plot(class_1["petal_width"], np.zeros_like(class_1['petal_width']), 'o', label='Class 1')
plt.plot(class_2["petal_width"], np.zeros_like(class_2['petal_width']), 'o', label='Class 2')

plt.legend()
plt.xlabel('petal_width')
plt.title('1D Scatter Plot of petal_width by Numeric Classes')
plt.show()

In [ ]:
# create a simple classifier
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(features_minmax, target, test_size=0.1, random_state=42)

model = LogisticRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
accuracy